* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }

  :root {
      --text: white;
      --font: "Goudy Bookletter 1911", sans-serif;
      --bold: bold;
      --border: 1.5px solid black;
      --border2: 1.5px solid white;
      --border3: 3px solid white;
      --buttonborder: 2px solid white;
      --bg1: rgba(19, 19, 19, 0.76);
      --bg2: #3e4657;
      --bg3: rgba(0, 0, 0, 0.753);
      --silver: #0f0f0f;
      --silverop: #0f0f0fbe;
      --mrg: 30px;
      --gradient: linear-gradient(to right, var(--bg3), var(--bg2));
  }

  html {
      height: 100%;
  }

  body {
    background: var(--text);
    height: 100%;
    min-width: 500px;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

  header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    background: var(--bg3);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      font: var(--font);
      font-weight: var(--bold);
      color: var(--text);
      font-size: 130%;
      cursor: default;
  }

  h2 {
      margin: 0 0 10px 8px;
  }

  h3,
  h4 {
      text-align: center;
      font-size: 150%;
      text-decoration: underline;
      margin-right: 8px;
  }

  h5 {
      margin-right: var(--mrg);
      padding-left: 10px;
  }

  body,
  main > div {
      background-color: var(--silver);
  }
  
  nav,
  nav > li {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 400px;
  }

  ul,
  li,
  a,
  button {
      display: inline;
      margin: 0 10px;
      color: black;
      font: var(--font);
      font-weight: var(--bold);
  }

  button {
      margin-right: var(--mrg);
      background: whitesmoke;
      border-radius: 50px;
      padding: 4px 25px;
  }

  li {
      font: var(--font);
      padding: 4px 10px;
      background: whitesmoke;
  }

  input {
    width: 300px;
    height: 40px;
    padding-left: 5px;
    background: rgba(27, 27, 27, 0.76);
    border: none;
    margin: 3px;
}

  label {
    color: var(--text);
    font: var(--font);
    font-weight: var(--bold);
    margin-left: 5px;
    font-size: 120%;
  }

  footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background: var(--bg3);
  } 

  iframe {
      width: 100%;
      height: 400px;
      box-shadow: 20px 10px 8px black;
  }

  .mainwork > img,
  .workitem > a > img {
    max-width: 100%;
  }

  button:hover,
  li:hover,
  input:hover {
      background: rgba(78, 78, 78, 0.76);
      border: var(--buttonborder);
      color: var(--text);
      transition: all 0.2s ease;
  }

  button:active,
  li:active,
  input:hover {
      background: rgba(0, 0, 0, 0.774);
      border: none;
  }
  
    input:active {
    background: rgba(0, 0, 0, 0.774);
    border: none;
  }

  .medialinks > a:hover {
      border: var(--buttonborder);
      border-radius: 100%;
  }

  .headerresume > a:hover,
  .headerresume > a:focus {
      background: white;
      text-decoration: none;
      transition: all 0.2s ease;
      color: black;
  }

  .headerresume > a:active {
      background: rgba(0, 0, 0, 0.774);
      border: var(--buttonborder);
      text-decoration: none;
  }

  .formbutton > button {
    background: var(--silverop);
    color: var(--text);
  }

  .areyouinpain:hover,
  .workitem > a:hover {
      border-bottom: var(--border3);
      transition: all 0.3s ease;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }

  ::-webkit-scrollbar-thumb {
    background: rgb(107, 107, 107); 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .navwrapper {
      display: flex;
      flex-flow: row wrap;
  }

  .topbutton {
      position: hidden;
  }

  .headerone {
      display: flex;
      align-items: center;
      margin-left: var(--mrg);
      color: var(--text);
      font: var(--font);
      font-weight: var(--bold);
      font-size: 20px;
  }

  .buttondiv {
      display: flex;
      align-items: center;
  }

  .aboutwrapper {
      display: flex;
      flex-flow: row wrap;
      margin-top: 30px;
      height: 100%;
  }
  
  .workwrapper {
      display: flex;
      flex-flow: row wrap;
      margin-top: 60px;
      height: 100%;
  }

  .rightfloating {
      flex: 2 65%;
      margin: var(--mrg);
      border: var(--border2);
      height: 1000px;
      background: var(--gradient);
      border: var(--border3);
      order: 2
  }

  .leftfloating {
      flex: 1 25%;
      margin: var(--mrg);
      border: var(--border3);
      background: var(--gradient);
      order: 1;
  }

  .youtube {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow-x: hidden;
      overflow-y: scroll;
      bottom: 0px;
      max-height: 470px;
  }

  .vidcontainer {
      margin: 10%;
  }

  .bio {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 400px;
      margin: 20px 10%;
      color: var(--text);
      font: var(--font);
      font-weight: var(--bold);
  }

  .workheaderright {
      flex: 1 10%;
      order: 2;
      height: 100%;
      margin: var(--mrg);
      border: var(--border3);
      background: var(--gradient);
  }

  .workcontainer {
      flex: 3 80%;
      order: 1;
      height: 100%;
      margin: var(--mrg);
      border: var(--border3);
      background: var(--gradient);
  }

  .mainwork {
      position: relative;
      margin: 10px 100px;
      height: 100%;
  }

  .areyouinpain {
    width: 100%;
    height: 100%;
  }

  .mainworkdescription,
  .workdescription {
      position: absolute;
      display: flex;
      flex-flow: row;
      align-items: center;
      right: 0;
      bottom: 25px;
      height: 40px;
      width: 40%;
      font: var(--font);
      font-weight: var(--bold);
      color: var(--text);
      background: var(--silverop);
      border-radius: 10px 0 0 10px;
  }

  .mainworkdescription > p {
      padding-left: 10px;
  }

  .workitemcontainer {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      margin: 10px 100px;
      height: auto;
  }

  .workitem {
      position: relative;
      height: 100%;
      width: 50%;
      flex-basis: 45%;
      margin: 50px 0;
  }

  .workitem > img {
      width: 100%;
      height: auto;
  }

  .formcontainer {
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--silver);
      margin-top: 60px;
      margin-bottom: var(--mrg);
      height: 150px;
      width: 100%
  }

  ::placeholder {
      color: var(--text);
      font: var(--font);
      font-weight: bold;
  }

  .footerthanks {
      display: flex;
      align-items: center;
      background: var(--silverop);
      height: 50px;
      width: 225px;
      border-radius: 20px 0 0 20px;
  }

  .backtotop {
      height: 40px;
      width: 40px;
      margin: 0 20px 0 10px;
  }

  .backtotop > a > img {
      height: 100%;
      width: auto;
  }

  .medialinks {
      display: flex;
      flex-flow: row;
      align-items: center;
      margin-left: var(--mrg);
      height: 100px;
  }

  .media {
    height: 50px;
    width: 50px;
  }

  .resumepage {
      height: 100vh;
      background-color: var(--silver);
  }

  .headerresume {
      margin: 15% 20%;
      text-align: center;
      color: var(--text);
      font: var(--font);
      font-weight: var(--bold);
      border: 5px solid white;
      padding: 75px;
  }

  .headerresume > a {
      color: var(--text);
      font: var(--font);
      font-weight: var(--bold);
      font-size: 18px;
      text-decoration: underline;
      padding: 5px 7px;
  }

  .resumeh1 {
      color: var(--text);
      font: var(--font);
      font-weight: var(--bold);
      text-align: center;
      font-size: 50px;
      margin-bottom: 10px;
  }

  .resumeh2 {
      color: var(--text);
      font: var(--font);
      font-weight: var(--bold);
      text-align: center;
      font-size: 35px;
      margin-bottom: 50px;
  }

  @media all and (max-width: 1200px) {

    main {
        flex-direction: column;
    }
    
    h4 {
        text-align: center;
    }

    .aboutwrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .rightfloating {
        max-height: 100%;
        order: 2;
    }

    .leftfloating {
        max-height: 100%;
        margin: 10px var(--mrg);
        order: 1;
        text-align: center;
    }

    .workcontainer {
        margin: var(--mrg);
        order: 4;
    }

    .workheaderright {
        margin: 0 var(--mrg);
        height: 100%;
        order: 3;
    }

    .workitemcontainer {
        display: flex;
        justify-content: center;
        margin: 0 10%;
    }

    .workitem {
        flex-basis: 70%;
    }


}

  @media all and (max-width: 992px) {

        main {
            flex-direction: column;
        }

        
        h4 {
            text-align: center;
        }

        .aboutwrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .rightfloating {
            max-height: 100%;
            order: 2;
        }

        .leftfloating {
            max-height: 100%;
            margin: 10px var(--mrg);
            order: 1;
            text-align: center;
        }

        .workcontainer {
            margin: 5px 30px 30px 30px;
            order: 4;
        }

        .workheaderright {
            margin: 0 var(--mrg);
            order: 3;
        }

        .workitemcontainer {
            display: flex;
            justify-content: center;
            margin: 0 10%;
        }

        .workitem {
            flex-basis: 70%;
        }


  }

  @media all and (max-width: 850px) {

        html {
            max-width: 100%;
        }

        header {
            display: block;
            max-width: 100%;
            height: 100%;
        }

        li {
            margin: 3px;
        }

        body,
        footer,
        .aboutwrapper,
        .workwrapper,
        .formcontainer {
            background: var(--silver);
        }

        .workwrapper,
        .mainwork,
        .workitemcontainer {
            display: block;
            margin: 0;
        }

        .workitem {
            width: 100%;
        }

        .buttondiv,
        nav {
            display: inline;
            align-items: center;
            margin: 10px 0;
        }
    }

  @media all and (max-width: 541px) {

        footer {
            display: flex;
            flex-direction: column;
            flex: wrap;
            max-width: 100%;
        }

        header {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-height: 100%;
            max-width: 100%;
        }

        nav,
        ul,
        li {
            display: block;
            width: 100px;
            margin: 0;
        }

        .buttondiv {
            display: block;
            margin: 0;
        }

        .buttonlink,
        button {
            margin: 0;
            margin-bottom: 5px;
            max-width: 100%;
        }

        .medialinks {
            justify-content: center;
            width: 100%;
            order: 1;
            margin: 0;
        }

        .footerthanks {
            display: flex;
            justify-content: space-between;
            width: 100%;
            order: 2;
            border-radius: 0;
        }

  }